<a href='/urls'>Home</a>
<br>
<% if (username) { %>
  Logged in as: <%= username %>
<% } else { %>
  <form method='POST' action='/urls'>
    Username: <input type='text' name='username'>
    <input type='submit' value='go'>
  </form>
<% } %>
<form method='POST' action='/logout'>
  <input type='submit' value='logout'>
</form>
