<!DOCTYPE html>
<html lang="en">
<body style="font-size:20px; padding:50px;">
  <form method='POST' action='/register'>
    <label for='email'>Email:</label>
    <input type='email' name='email' placeholder='hello@example.com'>
    <label for='password'>Password:</label>
    <input type='passowrd' name='password'>
    <input type='submit' value='Create account'>
  </form>
</body>
</html>
