<!DOCTYPE html>
<html lang='en'>
<head>
  <% include partials/_header %>
</head>
<body>
  <main>
    <ul>
      <% if (!userId) { %>
        Please log in to view your Tiny Linkz :)
      <% } else { %>
      <ul>
        <% for (let i = 0; i < urls.length; i++) {%>
          <li><%= urls[i].shortURL %>: <%= urls[i].longURL %> - <a href='/urls/<%= urls[i].shortURL %>'>update</a><form method='POST' action='/urls/<%= urls[i].shortURL %>/delete'><input type='submit' value='delete'></form>
        <% } %>
      </ul>
       <a href='/urls/new'>Tiny-fy your linkz nao :)</a>
      <% } %>

      </main>
</body>
</html>
